name: Black
on: [push, pull_request]
jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Black Check
        uses: jpetrucciani/black-check@master
        with:
          path: 'manyworlds/'
