name: Coverage
on: [pull_request]
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest
          python -m pip install coverage
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Run coverage
        run: |
          coverage run -m pytest
          coverage xml
      - name: Coverage Report
        uses: orgoro/coverage@v3.1
        with:
          coverageFile: ./coverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}
